$baseColor: lightgoldenrodyellow;

.viewport {
  height: 300px;
}

  todo-item {
    height: 30px;
    background: green;

    &:nth-child(even) {
      background: darken($color: $baseColor, $amount: 5%);
    }

    &:hover {
      background: blue;
    }
  }



