<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">{{'AddressBook' | translate}} !</a>
  <button class="navbar-toggler" (click)="open = !open">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{show: open}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['']">{{'Home' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['contacts']">{{'List' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="current" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['contacts', 'add']">{{'Add' | translate}}</a>
      </li>
    </ul>
    <div class="navbar-nav">
      <ab-select [selected]="lang" [items]="langages" (selectedChange)="switchLang($event)"></ab-select>
      <!--
        abSelect.addEventListener('selectedChange', ($event) => {
          switchLang($event)
        })
      -->

    </div>
  </div>
</nav>
